.about {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 400%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(0, 0, 0, 0.9);
}
.about-container {
  width: 800px;
}
.title-about {
  text-align: center;
  color: rgb(173, 163, 163);
}
.class {
  width: 200px;
  height: 40px;
  background-color: rgb(0, 0, 0, 0.5);
  color: aliceblue;
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 20px;
  border: none;
}
.class:hover {
  border: 1px solid rgb(221, 214, 214);
  cursor: pointer;
}
