.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 50px;
  background-color: rgba(70, 68, 68, 0.8);
  box-shadow: 0px 0px 15px;
  margin: 40px auto;
  border: none;
  border-radius: 5px;
}
.navbar-link {
  text-decoration: none;
  color: rgb(247, 234, 234);
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 20px;
  font-weight: bold;
}
.navbar-link:hover {
  color: white;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}
